.encabezadoAmarillo{
    color: yellow;
    font-family: Arial;
    font-size: 30px;
    text-align: left;
}
.cuerpoBlanco{
    color: black;
    font-family: Arial;
    font-size: 30px;
    text-align: left;
    color: white;
}
.imgInst{
    width: 20cm;
    height: 17.24cm;
}