body {
    background-color: darkcyan;
}
h1{
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: "Times New Roman";
}
h3{
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: "Times New Roman";
}
p{
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: "Times New Roman";
}
button{
 margin-left: 870px;
}